/*Created By Blake Collins*/
* {
    box-sizing: border-box;
  }
body{
    margin: 15px;
}

h1{
    text-align: center;
    font-family: 'Nunito', 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    font-family: 'Nunito', 'Times New Roman', Times, serif;
}
.name{/*"The Code Review"*/
    background: midnightblue;
    color: lightgray;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 1.5em;
    padding: 20px;

}
.title{/*Sign up for our newsletter*/
    margin: 10px;
    padding-bottom: 5px;
}

h3{/*"Get the lastest....*/
    text-align: left;
    font-family: 'Nunito', 'Times New Roman', Times, serif;
}
.lastestNews{
    text-align: center;
}
label{
    font-size: 1em;
    font-family: 'Source Code Pro', 'Times New Roman', Times, serif;
}
legend{
    font-size: 1.5em;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="address"],
input[type="city"],
input[type="state"],
input[type="zip"],
textarea,
select{
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 90%;
    background-color: #aeb2b3;
    color: black;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
    
  }
  .input-selection{
      display: block
      
  }
  
  label{ 
      display: block;
      width: 150px;
  }
  #zip {
    width: 35%;
    margin-right: 50%;
}

  input[type="checkbox"]{
    font-size:1em;
  }
 
  .topic{
      margin-bottom: 15px;
      margin: 0 auto;
  }
  .format{
    margin-bottom: 15px;

  }
  textarea{
    margin-top: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
  }
.typeOfNews{
     padding-bottom: 25px;
}

button{
    display: block;
    margin: 0 auto;
    width: 80%;
    padding: 30px;
    cursor: pointer;
    background: mediumaquamarine;
    border-radius: 25px;
    font-family: 'Arvo', 'Times New Roman', Times, serif;
    color: white;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    text-align: center;
    font-size: 1.5em;
}
input:focus, textarea:focus {
    background-color:#05b6f7;
    border: 2px solid #F47E58;
}
.copyright{
    text-align: center;
    background: midnightblue;
    color: lightgray;
    text-shadow: -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    font-size: 1.5em;
}



@media screen and (min-width: 768px){

    .everything{
       max-width: 70%;
       margin: 0 auto;
    }

    .lastestNews{
        text-align: center;
    }
    .typeOfNews{
        font-size: 1.25em;
    }
      textarea{
        height: 125px;
        max-width: 70%;
    }

    label{
        width: 300px;
    }

    input{
        max-width: 80%;
    }
    .input-selection{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #zip {
        
        width: 27%;    
    }
    .newsletter{
        margin: 0 auto;
    }
    .button{
        max-width: 70%;
        margin: 0 auto;
    }
    

}