/*Created By Blake Collins*/


h1{
    text-align: center;
    font-family: /*'Arvo'*/'Nunito', 'Times New Roman', Times, serif;
}

h2{
    text-align: center;
    font-family: 'Nunito', 'Times New Roman', Times, serif;
}
h3{
    text-align: center;
    font-family: 'Nunito', 'Times New Roman', Times, serif;


}